bin/
lib/
lib64/
include/
*.cfg
share/
__pycache__/
/alx/specialization/env_basic_auth/alx-backend-user-data/0x01-Basic_authentication/api/.DS_Store
*.o
.env
.log
*.swp
*.pyc
*.exe
.DS_Store
.DS_Store?
._*
.vscode/
build/
develop-eggs/
dist/
downloads/
*.py[cod]
*$py.class